.footer{
    display: flex;
    background-color: #7F8289;
    width: 100%;
    color: #fff;
    font-size: 21px;
    /*padding: 7px;*/
    padding-top: 7px;
    padding-bottom: 7px;


}

.footer_text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}