.footer {
    background-color: var(--grey-ITECI);
    color: white;
    /*position: relative;
    bottom: 0;*/
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em; 
}

@media only screen and (max-width: 1400px) {
    .footer {
        font-size: 1.45em;
    }
  }

@media only screen and (max-width: 1200px) {
    .footer {
        font-size: 1.40em;
    }
}

@media only screen and (max-width: 992px) {
    .footer {
        font-size: 1.35em;
    }
}

  @media only screen and (max-width: 768px) {
    .footer {
        font-size: 1.30em;
    }
}

  @media only screen and (max-width: 576px) {
    .footer {
        font-size: 1.25em;
    }
}