@import "conts.css";


.header-conteiner {
    /*background-color:white;*/
    /*background-color: var(--grey2-ITECI);*/
    background-color: #95B83A;
    /*border-bottom: solid 1px var(--grey2-ITECI);*/
}

.logo {
    width: 12em;
}

.app_name {    
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    /*color: var(--grey-ITECI);*/
    color: white;
    position: relative;
    top: -0.1em;
}

svg {
    fill: var(--blue-ITECI);
}

.navbar-toggler-custom {
    background-color: white;
}

@media only screen and (max-width: 1400px) {
    .app_name {
        font-size: 2.75em;
    }
  }

@media only screen and (max-width: 1200px) {
    .app_name {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 992px) {
    .app_name {
        font-size: 2em;
    }
  }

  @media only screen and (max-width: 768px) {
    .app_name {
        font-size: 2.5em;
        width: 100%;
        text-align: center; 
    }
  }

  @media only screen and (max-width: 576px) {
    .app_name {
        font-size: 2em;
    }
  }
