@import "conts.css";

.conteiner-login {
    min-height: 100%;
}

.box-login {
    width: inherit;
    position: absolute;
    top: 19em;
}

.card-login {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: 2em;
    font-size: 1.5em;
}

.logo-vertical {
    width: 75%;
}

.btn-secondary{
    background-color: var(--blue-ITECI);
    align-self: end;
    font-size: 1.5rem;
}

.errorLogin {
    color: red;
    font-size: 0.8em;
}

/*----------------*/
/*.footer {
    position: absolute;
}*/
/*----------------*/


@media only screen and (max-width: 1600px) {
    .logo-vertical {
        width: 90%;
    }
    .card-login {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media only screen and (max-width: 1400px) {
    .card-login {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media only screen and (max-width: 1400px) {
    .card-login {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media only screen and (max-width: 992px) {
    .box-login {
        top: 10em;
    }
    .card-login {
        padding-top: 2em;
        padding-bottom: 1em;
        padding-left: 2em;
        padding-right: 2em;
    }
    .logo-vertical {
        width: 60%;
        align-self: center;
    }
}

@media only screen and (max-width: 375px) {
    .box-login {
        top: 6.5em;
    }
    .card-login {
        padding-left: 3em;
        padding-right: 3em;
        font-size: 1.25em;
    }
}