.conteiner-menu {
    min-height: 100%
}

.box-menu {
    width: inherit;
    position: absolute;
    top: 9em;

    font-size: 1.25em;
}

.card-menu {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 8em;
    padding-right: 8em;
    border-radius: 2em;
}

.card-table {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

@media only screen and (max-width: 1400px) {
    .card-menu {
        padding-left: 5em;
        padding-right: 5em;
    }
}

@media only screen and (max-width: 1071px) {
    .card-table {
        font-size: 0.95em;
    }
    .card-table {
        padding-top: 1em;
        padding-bottom: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

@media only screen and (max-width: 992px) {
    .card-menu {
        padding-left: 3em;
        padding-right: 3em;
    }
    .card-table {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media only screen and (max-width: 992px) {
    .card-table {
        font-size: 0.85em;
    }
}

@media only screen and (max-width: 768px) {
    .box-menu {
        top: 13em;
    }
    .card-menu {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
}

@media only screen and (max-width: 576px) {
    .box-menu {
        top: 12em;
    }
    .card-menu {
        border-radius: 0;
    
    }
}